.header{
	display: flex;
	justify-content: space-between;
	text-align: center;
	background-color: #1877f2;
	height: 70px;
	padding: 13px ;
	border-radius: 4px;
}
.headerText{
	color: white ;
	font-weight: 800;
	cursor: pointer;
	font-size: 26px;
}
.headerRight{
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 15px;
	font-weight: 600;

}
.rounded {
	border-radius: 4px;
  }
  
.underline {
	text-decoration: underline;
	cursor: pointer;
	margin-right: 10px;
	margin-left: 2px;
  }
